NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_BASE_DOMAIN=

# Default network for the contract [hardhat | sepolia | holesky]
NEXT_PUBLIC_DEFAULT_NETWORK="hardhat" 

# Hardhat Config (Local) 
NEXT_PUBLIC_HARDHAT_ACCESS_MANAGER_ADDRESS=
NEXT_PUBLIC_HARDHAT_TEMPLATE_REGISTRY_ADDRESS=
NEXT_PUBLIC_HARDHAT_PIECE_NFT_ADDRESS=
NEXT_PUBLIC_HARDHAT_ASSEMBLY_NFT_ADDRESS=
NEXT_PUBLIC_HARDHAT_EQUIPMENT_NFT_ADDRESS=

# Sepolia Config (Testnet)
NEXT_PUBLIC_SEPOLIA_ACCESS_MANAGER_ADDRESS=
NEXT_PUBLIC_SEPOLIA_TEMPLATE_REGISTRY_ADDRESS=
NEXT_PUBLIC_SEPOLIA_PIECE_NFT_ADDRESS=
NEXT_PUBLIC_SEPOLIA_ASSEMBLY_NFT_ADDRESS=
NEXT_PUBLIC_SEPOLIA_EQUIPMENT_NFT_ADDRESS=

NEXT_PUBLIC_SEPOLIA_BLOCKNUMBER_DEPLOYED=
NEXT_PUBLIC_SEPOLIA_RPC_URL=

# Holesky Config (Testnet)
NEXT_PUBLIC_HOLESKY_ACCESS_MANAGER_ADDRESS=
NEXT_PUBLIC_HOLESKY_TEMPLATE_REGISTRY_ADDRESS=
NEXT_PUBLIC_HOLESKY_PIECE_NFT_ADDRESS=
NEXT_PUBLIC_HOLESKY_ASSEMBLY_NFT_ADDRESS=
NEXT_PUBLIC_HOLESKY_EQUIPMENT_NFT_ADDRESS=

NEXT_PUBLIC_HOLESKY_BLOCKNUMBER_DEPLOYED=
NEXT_PUBLIC_HOLESKY_RPC_URL=

NEXT_PUBLIC_SUPPORT_EMAIL=